/* Colors */
$first-color: #000000;
$second-color: #ffffff;
$third-color: #FF981F;
$fourth-color: #C4C4C4;
$fifth-color: #DFE2E5;

$gamma-color: #80C02F;
$accent-color: #EB6246;

/* Fonts */
$font: "Noto", "Arial", sans-serif;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

/* Media */

$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 480px;
