@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  @include media-375 {
    align-items: flex-start;
    margin-left: 0;
  }
}

.contacts-link {
  font-weight: $bold;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: $second-color;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
