@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.login {
  display: flex;
  align-items: center;
  color: $second-color;
  transition: 0.3s;
  span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid $second-color;
    border-radius: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.login-img {
  margin-right: 10px;
}
