@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.main-menu {
  display: flex;
  align-items: center;
  @include media-767 {
    display: none;
  }
}

.main-menu-item {
  margin-right: 40px;
  &:first-child {
    margin-right: 15px;
    @include media-md {
      margin-right: 10px;
    }
  }

  &:nth-child(2) {
    margin-right: 50px;
    @include media-md {
      margin-right: 15px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include media-md {
    margin-right: 15px;
  }
}

.main-menu-link {
  display: flex;
  align-items: center;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: $second-color;
  transition: opacity 0.3s;
  svg {
    fill: $second-color;
    margin-right: 5px;
    @include media-md {
      margin-right: 2px;
    }
  }

  &--bold {
    font-weight: $bold;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include media-md {
    font-size: 13px;
  }
}
