@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.marker {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  color: $second-color;
  border-radius: 50%;
  background-color: $accent-color;
  @include media-md {
    top: -2px;
    right: -2px;
    width: 13px;
    height: 13px;
  }
}
