@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";


.page-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: $gamma-color;
}

.page-footer-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 75px 0;
  @include media-xs {
    align-items: flex-end;
  }
}

.page-footer-block {
  position: absolute;
  bottom: 77px;
  right: 0;
  font-size: 13px;
  line-height: 18px;
  color: $second-color;
  opacity: 0.8;
  @include media-xs {
    position: static;
    order: 4;
    width: 100%;
    padding-top: 30px;
    margin-bottom: -30px;
    text-align: center;
  }

  @include media-375 {
    order: 0;
    text-align: left;
  }
}
