@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.page-main {
  display: flex;
  flex-direction: column;
}

.page-main-topline {
  padding: 15px 0;
}

.page-main-topline__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-main-bottomline {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  padding: 0 20px;
  margin: 0 auto 30px;
}

.page-main-navigation {
  width: 73%;
  border-top: 2px solid $gamma-color;
}
