@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.user-menu {
  display: flex;
  flex-wrap: wrap;
  @include media-lg {
    justify-content: center;
  }

  @include media-sm {
    justify-content: space-around;
  }

  @include media-767 {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 810px;
  }

  @include media-xs {
    justify-content: flex-start;
    width: 720px;
  }
}

.user-menu-item {
  display: block;
  margin-right: 70px;
  &:last-child {
    margin-right: 0;
  }

  @include media-md {
    margin-right: 40px;
  }

  @include media-sm {
    margin-right: 0;
  }

  @include media-xs {
    margin-right: 10px;
  }
}

.user-menu-link {
  display: block;
  height: 100%;
  padding: 16px 0 23px;
  font-weight: $bold;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.5px;
  border-top: 7px solid transparent;
  transition: opacity 0.3s;
  &--active {
    border-top: 7px solid $gamma-color;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include media-767 {
    padding: 16px 10px 23px;
  }
}
