@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.user-min-info {
  display: flex;
  flex-wrap: wrap;
  @include media-md {
    flex-direction: column;
  }

  @include media-767 {
    margin-left: auto;
  }

  @include media-xs {
    order: 1;
    width: 100%;
    padding-top: 20px;
  }
}

.user-min-info__title {
  display: inline-block;
  margin-right: 35px;
  font-weight: $bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  @include media-md {
    margin-bottom: 10px;
  }

  @include media-767 {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.user-min-info__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: -0.5px;
    @include media-767 {
      font-size: 13px;
    }
  }
}
