@import "../sass/general/variables.scss";
@import "../sass/general/mixins.scss";

.user-profile {
  display: block;
  padding-bottom: 300px;
  @include media-sm {
    padding-bottom: 40px;
  }
}

.user-profile-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.5px;
  @include media-767 {
    font-size: 28px;
  }

  @include media-xs {
    text-align: center;
  }
}

.user-profile-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  @include media-md {
    justify-content: space-between;
  }

  @include media-xs {
    flex-direction: column;
  }
}

.user-profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  @include media-md {
    align-items: flex-start;
    order: 1;
    width: 33.3%;
    margin-right: 0;
  }

  @include media-sm {
    width: 40%;
  }

  @include media-767 {
    width: 30%;
  }

  @include media-xs {
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
  }
}

.user-profile-picture__img {
  border-radius: 50%;
  margin-bottom: 15px;
  @include media-375 {
    width: 121px;
    height: 121px;
  }
}

.user-profile-picture__link {
  font-size: 15px;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-decoration: underline;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include media-md {
    margin-left: 9%;
  }

  @include media-xs {
    margin-left: 0;
  }
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-right: 40px;
  @include media-md {
    order: 2;
    width: 33.3%;
    margin-right: 0;
  }

  @include media-sm {
    order: 3;
    width: 50%;
    padding-top: 0;
  }

  @include media-xs {
    width: auto;
    margin: 0 auto 35px;
  }

  @include media-375 {
    margin: 0 0 35px;
  }
}

.user-profile-info__text,
.user-profile-info__link {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
  @include media-375 {
    font-size: 14px;
  }
}

.user-profile-info__link {
  display: inline-block;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.user-profile-controls {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  @include media-lg {
    flex-direction: column;
    margin: 0 auto;
  }

  @include media-md {
    flex-direction: row;
    justify-content: center;
    order: 4;
    width: 100%;
  }

  @include media-sm {
    justify-content: flex-end;
    align-content: start;
    width: 50%;
    padding-top: 0;
  }

  @include media-xs {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
}

.user-profile-controls__link {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 190px;
  padding: 12.5px 0;
  margin-right: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.5px;
  color: $second-color;
  border-radius: 30px;
  background-color: $gamma-color;
  transition: opacity 0.3s;
  &:last-child {
    margin-right: 0;
  }

  svg {
    margin-right: 5px;
  }

  &--edit {
    padding: 10px 0;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include media-sm {
    margin-right: 0;
  }

  @include media-xs {
    margin: 0 auto 15px;
  }

  @include media-375 {
    padding: 7.5px 0;
    font-size: 13px;
    &--edit {
      padding: 5px 0;
    }
  }
}

.user-profile-levels {
  position: absolute;
  top: -150px;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  @include media-lg {
    position: static;
  }

  @include media-md {
    order: 3;
    width: 33.3%;
  }

  @include media-sm {
    order: 2;
    width: 60%;
    margin-bottom: 20px;
  }

  @include media-767 {
    width: 70%;
  }

  @include media-xs {
    width: 100%;
  }
}

.user-profile-levels__content {
  display: flex;
  flex-direction: column;
  @include media-sm {
    flex-direction: row;
    align-items: center;
  }

  @include media-767 {
    justify-content: flex-end;
  }

  @include media-xs {
    justify-content: center;
  }

  @include media-375 {
    overflow: hidden;
    justify-content: space-around;
  }
}

.user-profile-levels__title {
  display: block;
  width: 125px;
  margin-bottom: 40px;
  font-weight: $bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
  @include media-lg {
    width: 90%;
  }

  @include media-md {
    width: 100%;
    text-align: center;
  }

  @include media-sm {
    margin-bottom: 20px;
    text-align: left;
  }

  @include media-767 {
    padding-left: 28.5%;
  }

  @include media-xs {
    padding-left: 0;
    text-align: center;
  }
}

.user-profile-setup {
  display: flex;
  flex-direction: column;
  padding-left: 182px;
  @include media-lg {
    padding-left: 0;
  }
}

.user-profile-setup__switch {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.user-profile-setup__switch-group {
  position: relative;
  display: flex;
  align-items: center;
  order: 1;
  width: 44px;
  height: 20px;
  background-color: $fifth-color;
  border-radius: 30px;
}

.user-profile-setup__switch-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
}

.user-profile-setup__switch-switcher {
  position: relative;
  top: 0;
  left: 22px;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid $second-color;
  border-radius: 50%;
  z-index: 1;
  transition: left 0.3s, background-color 0.3s;
}

.user-profile-setup__switch-group input:not(:checked) ~.user-profile-setup__switch-switcher {
  left: 22px;
  background-color: $gamma-color;
}

.user-profile-setup__switch-group input:checked ~.user-profile-setup__switch-switcher {
  left: 22px;
  background-color: $gamma-color;
}

.user-profile-setup__switch-group input~:checked ~.user-profile-setup__switch-switcher {
  left: 0;
  background-color: $fifth-color;
}

.user-profile-setup__switch-group input:checked {
  z-index: 0;
}

.user-profile-setup__switch-text {
  margin-right: 30px;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.user-profile-setup__link {
  display: block;
  align-self: start;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-decoration: underline;
  transition: opacity 0.3s;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
